@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
    --color-primary: #f4efe6;
    --color-secondary: #2b98d1;
    --color-button: #ff7300;
    --text-small: 13px;
    --text-med: 15px;
    --text-big: 18px;
}

body {
    font-family: "Lato", sans-serif;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    } /* Stay solid for most of the time */
    100% {
        opacity: 0;
        display: none;
    }
}

.animate-fade-out {
    animation: fadeOut 5s forwards;
}

.counter-button {
    @apply w-11.25 h-8.75 bg-button rounded-lg text-white;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}
