@import "tailwindcss";

@theme {
    --color-sidebar: var(--sidebar);
    --color-main-chat: var(--main-chat);
    --color-sender: var(--sender);
    --color-receiver: var(--receiver);
    --color-accent: var(--accent);
    --color-primary-text: var(--primary-text);
    --color-secondary-text: var(--secondary-text);
    --color-message-input: var(--message-input);
}

:root {
    --sidebar: #f7f7f9;
    --main-chat: #ffffff;
    --sender: #007aff;
    --receiver: #e9e9eb;
    --accent: #f5c2e7;
    --primary-text: #000000;
    --secondary-text: #ffffff;
    --message-input: #dfdfe2;
}

.dark {
    --sidebar: #1e1e2e;
    --main-chat: #181825;
    --sender: #89b4fa;
    --receiver: #313244;
    --accent: #f5c2e7;
    --primary-text: #ffffff;
    --secondary-text: #000000;
    --message-input: #ffffff;
}

.button {
    display: flex;
    gap: 10px;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.input-modal {
    outline: none;
    padding: 8px;
    width: 100%;
    height: 60px;
    border-radius: 8px;
}
