@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

body {
    font-family: "Sora", sans-serif;
}

@theme {
    /* Neutral color */

    --color-neutral-900: hsl(0, 0%, 7%);
    --color-neutral-800: hsl(0, 0%, 15%);
    --color-neutral-500: hsl(240, 3%, 46%);
    --color-neutral-400: hsl(240, 1%, 59%);
    --color-neutral-0: hsl(0, 0%, 100%);

    /* Blue */

    ---color-blue-600: hsl(214, 100%, 55%);
    ---color-blue-400: hsl(210, 100%, 65%);

    /* Red */

    ---color-red-500: hsl(354, 63%, 57%);

    /* Green */

    ---color-green-500: hsl(140, 63%, 57%);

    /* Yellow */

    ---color-yellow-400: hsl(49, 85%, 70%);
}
