@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

body {
    font-family: "Sora", sans-serif;
    background-color: hsl(0, 0%, 7%);
}

@theme {
    /* Blue */
    ---color-blue-600: hsl(214, 100%, 55%);
    ---color-blue-400: hsl(210, 100%, 65%);

    /* Red */
    ---color-red-500: hsl(354, 63%, 57%);

    /* Green */
    ---color-green-500: hsl(140, 63%, 57%);

    /* Yellow */
    ---color-yellow-400: hsl(49, 85%, 70%);

    --breakpoint-xs: 360px;
}

@layer utilities {
    .animate-spin-reverse {
        animation: spin-reverse 1s linear infinite;
    }

    @keyframes spin-reverse {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-369deg);
        }
    }

    .complete-icon {
        width: 50px;
        aspect-ratio: 1/1;
        position: relative;
    }

    .complete-icon::before {
        content: "";
        position: absolute;
        width: 70px;
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: rgba(76, 214, 122, 0.5);
        z-index: -1;
    }

    .complete-icon::after {
        content: "";
        position: absolute;
        width: 90px;
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: rgba(76, 214, 122, 0.2);
        z-index: -1;
    }
}

.custom-width {
    @apply lg:w-[70%] md:w-[80%] sm:w-[90%] xs:w-[95%];
}

.status-display-header {
    @apply md:text-[16px] xs:text-[20px] flex gap-2 xs:flex-col md:flex-row items-center;
}

.status-display-span {
    @apply font-bold xs:text-[30px] md:text-[16px];
}

.result-style {
    @apply border border-neutral-500 md:w-22.5 xs:w-75  py-1 px-2 rounded-sm;
}
