@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Fredoka", sans-serif;
}

@layer utilities {
    .empty-editor:empty::before {
        content: attr(data-placeholder);
        color: gray;
        cursor: text;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .animate-button {
        @apply active:scale-95 hover:scale-105;
    }
}

@theme {
    --color-primary-color: #344966;
    --color-secondary-color: #ff7a5c;
    --color-third-color: #f0f4ef;
    --color-text-dark: #0d1821;
    --color-text-light: #f0f4ef;
}

h1,
h2 {
    color: #f0f4ef;
}
